@using RentalSystem.ViewModels
@using RentalSystem.WebConfig.Constant
@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Authorization;
@model X.PagedList.IPagedList<RentalSystem.Models.AppPosts>

@{

	var ListPin = TempData["Pin"] as List<AppPinVM>;
	var postSort = TempData["postSort"] as List<AppCategory>;
	dynamic NoiBat = null;
	dynamic Vip1 = null;
	dynamic Vip2 = null;
	dynamic Vip3 = null;
	dynamic TinThuong = null;

	if (postSort != null && postSort.Count >= 5)
	{
		NoiBat = postSort.FirstOrDefault();
		Vip1 = postSort.Skip(1).FirstOrDefault();
		Vip2 = postSort.Skip(2).FirstOrDefault();
		Vip3 = postSort.Skip(3).FirstOrDefault();
		TinThuong = postSort.Skip(4).FirstOrDefault();
	}

	var Interested = TempData["interested"] as List<AppPosts>;

	// ==================================
	int firstPage = 1;
	int lastPage = Model.PageCount;

	// Xác định trang trước và trang sau
	int previousPage = Model.PageNumber > 1 ? Model.PageNumber - 1 : 1;
	int nextPage = Model.PageNumber < Model.PageCount ? Model.PageNumber + 1 : Model.PageCount;

	//==============

}


@* thanh tìm kiếm  *@
<div class="container">
	<div class="col p-0 mx-auto">

		<div class="row justify-content-center rounded-3 mt-2 pb-2" style="background-color: #febb02;">
			<div class="col-auto p-1 mt-3" data-bs-toggle="modal" data-bs-target="#modelCategory">
				<button class="btn border border-none bg-light px-4"><i class="fas fa-building"></i> <span class="selectItemCate">Phòng trọ, Nhà trọ</span> <i class="ms-4 fas fa-backspace"></i></button>
			</div>
			@* 		<div class="col-auto p-1  mt-3">
			<select id="provinces" class=" form-control rounded-1 w-100 border border-2 border-none  px-4">
			</select>
			</div>
			<div class="col-auto  p-1 mt-3">
			<select id="districts" class=" form-control rounded-1 w-100 border border-2 border-none  px-4">
			<option value='0'> -- Chọn Quận / Huyện -- </option>
			</select>
			</div> *@
			<div class="col-auto p-1 mt-3" data-bs-toggle="modal" data-bs-target="#modelPrice">
				<button class="btn border border-none bg-light px-4"><span class=""> -- Chọn Giá -- </span></button>
			</div>
			<div class="col-auto  p-1 mt-3 me-1" data-bs-toggle="modal" data-bs-target="#modelArea">
				<button class="btn border border-none bg-light px-4"><span class=""> -- Chọn Diện tích -- </span></button>
			</div>
			<div class="col-4 p-1 mt-2 mx-2">
				<form asp-action="Index" asp-controller="Home">
					<div class="row my-2">
						<div class="col p-0">
							<input type="text" name="keyword" placeholder="Tìm kiếm..." class="form-control" style="border-radius: 5px 0 0 5px;" />
						</div>
						<div class="col-auto p-0 me-0">
							<button class="btn btn-primary" style="border-radius:0 5px 5px 0;"><i class="fas fa-search"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end bộ lọc  -->
<!-- Top 4   -->
<div class="container mt-3">
	<div class="row text-center fw-bold fs-3"><span>Tìm kiếm chổ thuê ưng ý</span></div>
	<p class="text-center"><span class="fw-bold">Booking.com </span>-  Website đăng tin cho thuê phòng trọ, nhà nguyên căn, căn hộ, ở ghép nhanh, hiệu quả với 100.000+ tin đăng và 2.500.000 lượt xem mỗi tháng.</p>
	<div class="row justify-content-center ">
		<div class="col-auto p-0 mx-2 bg-light pointer text-primary-custom " style="border-radius: 10px" data-aos="fade-right" data-aos-delay="120">
			<a asp-action="Index" asp-controller="Home" asp-route-Address="Thành phố Hồ Chí Minh" class="hover-red text-decoration-none">
				<img src="~/Image/PostTop4/hcm.png" width="230px" style="border-radius: 10px 10px 0 0" />
				<h5 class="fw-bold text-center pt-2 fs-6 "><span>Tiện ích ở Hồ chí minh</span></h5>
			</a>
		</div>
		<div class="col-auto p-0  mx-2 bg-light pointer text-primary-custom hover-red" style="border-radius: 10px" data-aos="fade-right" data-aos-delay="50">
			<a asp-action="Index" asp-controller="Home" asp-route-Address="Thành phố Hà Nội" class="hover-red text-decoration-none">
				<img src="~/Image/PostTop4/hanoi.png" width="230px" style="border-radius: 10px 10px 0 0" />
				<h5 class="fw-bold text-center pt-2  fs-6 "><span>Tiện ích ở Hà nội</span></h5>
			</a>
		</div>
		<div class="col-auto p-0  mx-2 bg-light pointer text-primary-custom hover-red" style="border-radius: 10px" data-aos="fade-left" data-aos-delay="50">
			<a asp-action="Index" asp-controller="Home" asp-route-Address="Thành phố Đà Nẵng" class="hover-red text-decoration-none">
				<img src="~/Image/PostTop4/DaNang.png" width="230px" style="border-radius: 10px 10px 0 0" />
				<h5 class="fw-bold text-center pt-2  fs-6"><span>Tiện ích ở Đà nẵng</span></h5>
			</a>
		</div>
		<div class="col-auto p-0  mx-2 bg-light pointer text-primary-custom hover-red" style="border-radius: 10px" data-aos="fade-left" data-aos-delay="120">
			<a asp-action="Index" asp-controller="Home" asp-route-Address="Thành phố Cần Thơ" class="hover-red text-decoration-none">
				<img src="~/Image/PostTop4/Cantho.png" width="230px" style="border-radius: 10px 10px 0 0" />
				<h5 class="fw-bold text-center pt-2  fs-6 "><span>Tiện ích ở Cần thơ</span></h5>
			</a>
		</div>
	</div>
</div>
<!--end Top 4   -->
<!-- Product  -->
<div class="container mt-3">
	<div class="row">
		<div class="col-xxl-8 pe-3 rounded-2">
			<div class="row rounded-1" style="background-color:#ededed; height: auto">
				<div class="col p-0 px-3">
					<div class="row">
						<h4 class="fw-bold fs-5 mt-3 mb-0">Tổng @Model.Count() kết quả</h4>
					</div>
					<div class="row px-1 my-1 mb-2 ">
						<div class="col-auto">"<span class="fw-bold">Booking.com </span>nơi lựa chọn phòng hoàn hảo." </div>
					</div>

					@foreach (var itemPost in Model)
					{
						@if (NoiBat != null && NoiBat.IdCategory == itemPost.appCategory.IdCategory)
						{
							@if (itemPost.Haslable)
							{
								<div class="card_box" data-aos="fade-up" data-aos-delay="50">
									<span></span>
									<div class="row ">

										<div class="col-5 pe-0 my-1 position-relative" style="height: 250px">
											<a asp-action="Detail" asp-controller="Post" asp-route-id="@itemPost.IdPost">
												<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@itemPost.appImgPosts.Count ảnh</span>
												<img src="@itemPost.Path" width="100%" height="250px" />
											</a>
											@{
												int check = 0;
												@foreach (var item in ListPin)
												{
													if (item.IdPost == itemPost.IdPost)
													{
														<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@itemPost.IdPost">
															<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
														</a>
														check = 1;
														break;
													}
												}
												@if (check == 0)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@itemPost.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
												}
											}
										</div>

										<div class="col-7 ps-3  pe-4">
											<div class="w-100 fw-bold text-danger ">
												<div class="d-inline p-0 ">
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
												</div>
												<div class="d-inline p-0 ps-2">
													<a asp-action="Detail" asp-controller="Post" asp-route-id="@itemPost.IdPost" style="color: @itemPost.appCategory.TitleColor" class="text-decoration-none text-uppercase">
														@itemPost.Title
													</a>
												</div>
											</div>
											<div class="row ms-1">
												<div class="col-auto p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", itemPost.RtalPrice / 1000000)  Triệu / @itemPost.ToTforRtalPrice</div>
												<div class="col-auto p-0 pe-3">
													<i class="fas fa-vector-square text-primary me-1"></i>@itemPost.Area  m<sup>2</sup>
												</div>
												<div class="col-auto p-0 fw-bold">
													<i class="fas fa-map-marked-alt text-primary me-2"></i>  @itemPost.appAddress.Wards , @itemPost.appAddress.City
												</div>
												<div class="col-auto p-0 pe-3  text-secondary ms-auto pt-1" style="font-size: 13px">
													@{
														int totalTime = ((int)(DateTime.Now - itemPost.CreatedDate).TotalHours);

														if (totalTime < 24)
														{
															<span>Hôm nay</span>
														}
														if (totalTime > 24)
														{
															int ngay = totalTime / 24;
															<span>@ngay Ngày trước</span>
														}
													}
												</div>
											</div>
											<div class="row mt-1  ms-1 text-secondary">@itemPost.Summary</div>
											<div class="row mt-2  ms-1">
												<div class="col-auto p-0">
													<img src="@itemPost.Path" width="40px" height="40px" class="rounded-circle" />
												</div>
												<div class="col-auto p-0 pt-2 ms-1">
													<span class="text-secondary ps-1">@itemPost.appUsers.Name</span>
												</div>
												<div class="col-auto p-0 ms-auto mt-2 pe-2">
													<span class="p-2 py-1 bg-primary rounded-3"><a href="tel:0901007221" class="text-light text-decoration-none">Gọi 0901007221</a></span>
													<span class="p-2 py-1 bg-light border border-1 border-primary rounded-3">
														<a href="https://zalo.me/@itemPost.appUsers.PhoneNumberZL" target="_blank" class="text-primary text-decoration-none">Nhắn Zalo</a>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							}
							else
							{
								<div class="row " data-aos="fade-up" data-aos-delay="50">
									<div class="col-5 pe-0 my-1 position-relative" style="height: 250px">
										<a asp-action="Detail" asp-controller="Post" asp-route-id="@itemPost.IdPost">
											<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@itemPost.appImgPosts.Count ảnh</span>
											<img src="@itemPost.Path" width="100%" height="250px" />
										</a>
										@{
											int check = 0;
											@foreach (var item in ListPin)
											{
												if (item.IdPost == itemPost.IdPost)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@itemPost.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
													check = 1;
													break;
												}
											}
											@if (check == 0)
											{
												<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@itemPost.IdPost">
													<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
												</a>
											}
										}
									</div>

									<div class="col-7 ps-3  pe-4">
										<div class="w-100 fw-bold text-danger ">
											<div class="d-inline p-0 ">
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
											</div>
											<div class="d-inline p-0 ps-2">
												<a asp-action="Detail" asp-controller="Post" asp-route-id="@itemPost.IdPost" style="color: @itemPost.appCategory.TitleColor" class="text-decoration-none text-uppercase">
													@itemPost.Title
												</a>
											</div>
										</div>
										<div class="row ms-1">
											<div class="col-auto p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", itemPost.RtalPrice / 1000000)  Triệu / @itemPost.ToTforRtalPrice</div>
											<div class="col-auto p-0 pe-3">
												<i class="fas fa-vector-square text-primary me-1"></i>@itemPost.Area  m<sup>2</sup>
											</div>
											<div class="col-auto p-0 fw-bold">
												<i class="fas fa-map-marked-alt text-primary me-2"></i>  @itemPost.appAddress.Wards , @itemPost.appAddress.City
											</div>
											<div class="col-auto p-0 pe-3  text-secondary ms-auto pt-1" style="font-size: 13px">
												@{
													int totalTime = ((int)(DateTime.Now - itemPost.CreatedDate).TotalHours);

													if (totalTime < 24)
													{
														<span>Hôm nay</span>
													}
													if (totalTime > 24)
													{
														int ngay = totalTime / 24;
														<span>@ngay Ngày trước</span>
													}
												}
											</div>
										</div>
										<div class="row mt-1  ms-1 text-secondary">@itemPost.Summary</div>
										<div class="row mt-2  ms-1">
											<div class="col-auto p-0">
												<img src="@itemPost.Path" width="40px" height="40px" class="rounded-circle" />
											</div>
											<div class="col-auto p-0 pt-2 ms-1">
												<span class="text-secondary ps-1">@itemPost.appUsers.Name</span>
											</div>
											<div class="col-auto p-0 ms-auto mt-2 pe-2">
												<span class="p-2 py-1 bg-primary rounded-3"><a href="tel:0901007221" class="text-light text-decoration-none">Gọi 0901007221</a></span>
												<span class="p-2 py-1 bg-light border border-1 border-primary rounded-3">
													<a href="https://zalo.me/@itemPost.appUsers.PhoneNumberZL" target="_blank" class="text-primary text-decoration-none">Nhắn Zalo</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							}
							<hr data-aos="fade-up" data-aos-delay="50" />
						}
					}
					<!-- VIP 1  -->
					@foreach (var item in Model)
					{
						@if (Vip1 != null && Vip1.IdCategory == item.appCategory.IdCategory)
						{
							@if (item.Haslable)
							{
								<div class="card_box" data-aos="fade-up" data-aos-delay="50">
									<span></span>
									<div class="row ">
										<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
											<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
												<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
												<img src="@item.Path" width="100%" height="170px" />
											</a>
											@{
												int check = 0;
												@foreach (var itemPin in ListPin)
												{
													if (itemPin.IdPost == item.IdPost)
													{
														<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
															<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
														</a>
														check = 1;
														break;
													}
												}
												@if (check == 0)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
												}
											}
										</div>
										<div class="col-9 ps-3 pe-4">
											<div class=" fw-bold  ">
												<div class="d-inline p-0 ">
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
												</div>
												<div class="d-inline p-0 ps-2">
													<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
														@item.Title
													</a>
												</div>
											</div>
											<div class="row ms-1">
												<div class="col-auto p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000)  Triệu / @item.ToTforRtalPrice</div>
												<div class="col-auto  p-0 pe-3">
													<i class="fas fa-vector-square text-primary me-1"></i>@item.Area m<sup>2</sup>
												</div>
												<div class="col-auto  p-0 fw-bold">
													<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
												</div>

											</div>
											<div class="row mt-1 ms-1 text-secondary">
												@item.Summary
											</div>
											<div class="row mt-2 ms-1">
												<div class="col-auto p-0">
													<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
												</div>
												<div class="col-auto p-0 ms-2 pt-2">
													<span class="text-secondary ps-1">@item.appUsers.Name</span>
												</div>
												<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
													@{
														int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
														if (totalTime < 24)
														{
															<span>Hôm nay</span>
														}
														if (totalTime > 24)
														{
															int ngay = totalTime / 24;
															<span>@ngay Ngày trước</span>
														}
													}
												</div>
											</div>
										</div>
									</div>
									<hr data-aos="fade-up" data-aos-delay="50"/>
								</div>
							}
							else
							{
								<div class="row " data-aos="fade-up" data-aos-delay="50">
									<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
										<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
											<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
											<img src="@item.Path" width="100%" height="170px" />
										</a>
										@{
											int check = 0;
											@foreach (var itemPin in ListPin)
											{
												if (itemPin.IdPost == item.IdPost)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
													check = 1;
													break;
												}
											}
											@if (check == 0)
											{
												<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
													<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
												</a>
											}
										}
									</div>
									<div class="col-9 ps-3 pe-4">
										<div class=" fw-bold  ">
											<div class="d-inline p-0 ">
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
											</div>
											<div class="d-inline p-0 ps-2">
												<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
													@item.Title
												</a>
											</div>
										</div>
										<div class="row ms-1">
											<div class="col-auto p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000)  Triệu / @item.ToTforRtalPrice</div>
											<div class="col-auto  p-0 pe-3">
												<i class="fas fa-vector-square text-primary me-1"></i>@item.Area m<sup>2</sup>
											</div>
											<div class="col-auto  p-0 fw-bold">
												<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
											</div>

										</div>
										<div class="row mt-1 ms-1 text-secondary">
											@item.Summary
										</div>
										<div class="row mt-2 ms-1">
											<div class="col-auto p-0">
												<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
											</div>
											<div class="col-auto p-0 ms-2 pt-2">
												<span class="text-secondary ps-1">@item.appUsers.Name</span>
											</div>
											<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
												@{
													int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
													if (totalTime < 24)
													{
														<span>Hôm nay</span>
													}
													if (totalTime > 24)
													{
														int ngay = totalTime / 24;
														<span>@ngay Ngày trước</span>
													}
												}
											</div>
										</div>
									</div>
								</div>
								<hr data-aos="fade-up" data-aos-delay="50"/>
							}
						}
					}
					<!--End VIP 1  -->
					@foreach (var item in Model)
					{
						@if (Vip2 != null && Vip2.IdCategory == item.appCategory.IdCategory)
						{
							@if (item.Haslable)
							{
								<div class="card_box" data-aos="fade-up" data-aos-delay="50">
									<span></span>
									<div class="row">
										<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
											<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
												<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
												<img src="@item.Path" width="100%" height="170px" />
											</a>
											@{
												int check = 0;
												@foreach (var itemPin in ListPin)
												{
													if (itemPin.IdPost == item.IdPost)
													{
														<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
															<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
														</a>
														check = 1;
														break;
													}
												}
												@if (check == 0)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
												}
											}
										</div>
										<div class="col-9 ps-3  pe-4">
											<div class=" fw-bold  ">
												<div class="d-inline p-0 ">
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
												</div>
												<div class="d-inline p-0 ps-2">
													<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
														@item.Title
													</a>
												</div>
											</div>
											<div class="row ms-1">
												<div class="col-auto  p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000)  Triệu / @item.ToTforRtalPrice</div>
												<div class="col-auto  p-0 pe-3">
													<i class="fas fa-vector-square text-primary me-1"></i> @item.Area m<sup>2</sup>
												</div>
												<div class="col-auto  p-0 fw-bold">
													<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
												</div>

											</div>
											<div class="row mt-1  ms-1 text-secondary">
												@item.Summary
											</div>
											<div class="row mt-2 ms-1">
												<div class="col-auto p-0">
													<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
												</div>
												<div class="col-auto p-0 ms-2 pt-2">
													<span class="text-secondary ps-1">@item.appUsers.Name</span>
												</div>
												<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
													@{
														int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
														if (totalTime < 24)
														{
															<span>Hôm nay</span>
														}
														if (totalTime > 24)
														{
															int ngay = totalTime / 24;
															<span>@ngay Ngày trước</span>
														}
													}
												</div>
											</div>
										</div>
									</div>
									<hr data-aos="fade-up" data-aos-delay="50" />
								</div>
							}
							else
							{
								<div class="row" data-aos="fade-up" data-aos-delay="50">
									<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
										<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
											<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
											<img src="@item.Path" width="100%" height="170px" />
										</a>
										@{
											int check = 0;
											@foreach (var itemPin in ListPin)
											{
												if (itemPin.IdPost == item.IdPost)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
													check = 1;
													break;
												}
											}
											@if (check == 0)
											{
												<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
													<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
												</a>
											}
										}
									</div>
									<div class="col-9 ps-3  pe-4">
										<div class=" fw-bold  ">
											<div class="d-inline p-0 ">
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
											</div>
											<div class="d-inline p-0 ps-2">
												<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
													@item.Title
												</a>
											</div>
										</div>
										<div class="row ms-1">
											<div class="col-auto  p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000)  Triệu / @item.ToTforRtalPrice</div>
											<div class="col-auto  p-0 pe-3">
												<i class="fas fa-vector-square text-primary me-1"></i> @item.Area m<sup>2</sup>
											</div>
											<div class="col-auto  p-0 fw-bold">
												<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
											</div>

										</div>
										<div class="row mt-1  ms-1 text-secondary">
											@item.Summary
										</div>
										<div class="row mt-2 ms-1">
											<div class="col-auto p-0">
												<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
											</div>
											<div class="col-auto p-0 ms-2 pt-2">
												<span class="text-secondary ps-1">@item.appUsers.Name</span>
											</div>
											<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
												@{
													int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
													if (totalTime < 24)
													{
														<span>Hôm nay</span>
													}
													if (totalTime > 24)
													{
														int ngay = totalTime / 24;
														<span>@ngay Ngày trước</span>
													}
												}
											</div>
										</div>
									</div>
								</div>
								<hr  data-aos="fade-up" data-aos-delay="50" />
							}
						}
					}
					<!--End VIP 2  -->
					@foreach (var item in Model)
					{
						@if (Vip3 != null && Vip3.IdCategory == item.appCategory.IdCategory)
						{
							@if (item.Haslable)
							{
								<div class="card_box" data-aos="fade-up" data-aos-delay="50">
									<span></span>
									<div class="row">
										<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
											<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
												<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
												<img src="@item.Path" width="100%" height="170px" />
											</a>
											@{
												int check = 0;
												@foreach (var itemPin in ListPin)
												{
													if (itemPin.IdPost == item.IdPost)
													{
														<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
															<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
														</a>
														check = 1;
														break;
													}
												}
												@if (check == 0)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
												}
											}
										</div>
										<div class="col-9 ps-3  pe-4">
											<div class=" fw-bold  ">
												<div class="d-inline p-0 ">
													<i class="fas fa-star" style="color: #FFD43B;"></i>
													<i class="fas fa-star" style="color: #FFD43B;"></i>
												</div>
												<div class="d-inline p-0 ps-2">
													<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
														@item.Title
													</a>
												</div>
											</div>
											<div class="row ms-1">
												<div class="col-auto  p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000) Triệu / @item.ToTforRtalPrice</div>
												<div class="col-auto  p-0 pe-3">
													<i class="fas fa-vector-square text-primary me-1"></i> @item.Area m<sup>2</sup>
												</div>
												<div class="col-auto  p-0 fw-bold">
													<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
												</div>

											</div>
											<div class="row mt-1 ms-1 text-secondary">
												@item.Summary
											</div>
											<div class="row mt-2 ms-1">
												<div class="col-auto p-0">
													<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
												</div>
												<div class="col-auto p-0 ms-2 pt-2">
													<span class="text-secondary ps-1">@item.appUsers.Name</span>
												</div>
												<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
													@{
														int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
														if (totalTime < 24)
														{
															<span>Hôm nay</span>
														}
														if (totalTime > 24)
														{
															int ngay = totalTime / 24;
															<span>@ngay Ngày trước</span>
														}
													}
												</div>
											</div>
										</div>
									</div>
									<hr data-aos="fade-up" data-aos-delay="50" />
								</div>
							}
							else
							{
								<div class="row" data-aos="fade-up" data-aos-delay="50">
									<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
										<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
											<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
											<img src="@item.Path" width="100%" height="170px" />
										</a>
										@{
											int check = 0;
											@foreach (var itemPin in ListPin)
											{
												if (itemPin.IdPost == item.IdPost)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
													check = 1;
													break;
												}
											}
											@if (check == 0)
											{
												<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
													<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
												</a>
											}
										}
									</div>
									<div class="col-9 ps-3  pe-4">
										<div class=" fw-bold  ">
											<div class="d-inline p-0 ">
												<i class="fas fa-star" style="color: #FFD43B;"></i>
												<i class="fas fa-star" style="color: #FFD43B;"></i>
											</div>
											<div class="d-inline p-0 ps-2">
												<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
													@item.Title
												</a>
											</div>
										</div>
										<div class="row ms-1">
											<div class="col-auto  p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000) Triệu / @item.ToTforRtalPrice</div>
											<div class="col-auto  p-0 pe-3">
												<i class="fas fa-vector-square text-primary me-1"></i> @item.Area m<sup>2</sup>
											</div>
											<div class="col-auto  p-0 fw-bold">
												<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
											</div>

										</div>
										<div class="row mt-1 ms-1 text-secondary">
											@item.Summary
										</div>
										<div class="row mt-2 ms-1">
											<div class="col-auto p-0">
												<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
											</div>
											<div class="col-auto p-0 ms-2 pt-2">
												<span class="text-secondary ps-1">@item.appUsers.Name</span>
											</div>
											<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
												@{
													int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
													if (totalTime < 24)
													{
														<span>Hôm nay</span>
													}
													if (totalTime > 24)
													{
														int ngay = totalTime / 24;
														<span>@ngay Ngày trước</span>
													}
												}
											</div>
										</div>
									</div>
								</div>
								<hr data-aos="fade-up" data-aos-delay="50" />
							}
						}
					}
					@* TIN THUONG  *@
					@foreach (var item in Model)
					{

						@if (TinThuong != null && TinThuong.IdCategory == item.appCategory.IdCategory)
						{
							@if (item.Haslable)
							{
								<div class="card_box" data-aos="fade-up" data-aos-delay="50">
									<span></span>
									<div class="row">
										<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
											<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
												<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
												<img src="@item.Path" width="100%" height="170px" />
											</a>
											@{
												int check = 0;
												@foreach (var itemPin in ListPin)
												{
													if (itemPin.IdPost == item.IdPost)
													{
														<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
															<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
														</a>
														check = 1;
														break;
													}
												}
												@if (check == 0)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
												}
											}
										</div>
										<div class="col-9 ps-3  pe-4">
											<div class=" fw-bold  ">
												<div class="d-inline p-0 ">
													<i class="fas fa-star" style="color: #FFD43B;"></i>
												</div>
												<div class="d-inline  p-0 ps-2">
													<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
														@item.Title
													</a>
												</div>
											</div>
											<div class="row ms-1">
												<div class="col-auto  p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000)  Triệu / @item.ToTforRtalPrice</div>
												<div class="col-auto  p-0 pe-3">
													<i class="fas fa-vector-square text-primary me-1"></i> @item.Area m<sup>2</sup>
												</div>
												<div class="col-auto  p-0 fw-bold">
													<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
												</div>

											</div>
											<div class="row mt-1 ms-1 text-secondary">
												@item.Summary
											</div>
											<div class="row mt-2 ms-1">
												<div class="col-auto p-0">
													<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
												</div>
												<div class="col-auto p-0 ms-2 pt-2">
													<span class="text-secondary ps-1">@item.appUsers.Name</span>
												</div>
												<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
													@{
														int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
														if (totalTime < 24)
														{
															<span>Hôm nay</span>
														}
														if (totalTime > 24)
														{
															int ngay = totalTime / 24;
															<span>@ngay Ngày trước</span>
														}
													}
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr data-aos="fade-up" data-aos-delay="50" />
							}
							else
							{

								<div class="row" data-aos="fade-up" data-aos-delay="50">
									<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
										<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
											<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
											<img src="@item.Path" width="100%" height="170px" />
										</a>
										@{
											int check = 0;
											@foreach (var itemPin in ListPin)
											{
												if (itemPin.IdPost == item.IdPost)
												{
													<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
														<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
													</a>
													check = 1;
													break;
												}
											}
											@if (check == 0)
											{
												<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
													<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
												</a>
											}
										}
									</div>
									<div class="col-9 ps-3  pe-4">
										<div class=" fw-bold  ">
											<div class="d-inline p-0 ">
												<i class="fas fa-star" style="color: #FFD43B;"></i>
											</div>
											<div class="d-inline  p-0 ps-2">
												<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
													@item.Title
												</a>
											</div>
										</div>
										<div class="row ms-1">
											<div class="col-auto  p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000)  Triệu / @item.ToTforRtalPrice</div>
											<div class="col-auto  p-0 pe-3">
												<i class="fas fa-vector-square text-primary me-1"></i> @item.Area m<sup>2</sup>
											</div>
											<div class="col-auto  p-0 fw-bold">
												<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
											</div>

										</div>
										<div class="row mt-1 ms-1 text-secondary">
											@item.Summary
										</div>
										<div class="row mt-2 ms-1">
											<div class="col-auto p-0">
												<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
											</div>
											<div class="col-auto p-0 ms-2 pt-2">
												<span class="text-secondary ps-1">@item.appUsers.Name</span>
											</div>
											<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
												@{
													int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
													if (totalTime < 24)
													{
														<span>Hôm nay</span>
													}
													if (totalTime > 24)
													{
														int ngay = totalTime / 24;
														<span>@ngay Ngày trước</span>
													}
												}
											</div>
										</div>
									</div>
								</div>
								<hr data-aos="fade-up" data-aos-delay="50" >
							}
						}
					}


					@if (TempData["searched"] != null && !string.IsNullOrEmpty(TempData["searched"].ToString()))
					{
						<div class="text-center mb-4">
							<span class="text-danger"><i>Kết quả tìm kiếm [@Model.Count()] bài viết </i></span>
							<a asp-action="Index" class="text-decoration-none text-center" style="display: inline-block">Đặt lại</a>
						</div>
					}
					<!--End Thường   -->
					@if (Model.Count() > 10)
					{
						<div class="pagination mb-3 justify-content-center">
							<span class="page-number @(Model.PageNumber == firstPage ? "disabled" : "")  me-2 rounded-3 pt-1 px-3" style="background-color: #c3c3c3">
								<a href="@Url.Action("Index", new { page = previousPage })" class="text-decoration-none text-light">
									<i class="fas fa-angle-double-left me-1"></i>Trang trước
								</a>
							</span>

							@for (int i = firstPage; i <= lastPage; i++)
							{
								<span class="page-number @(Model.PageNumber == i ? "active" : "") btn btn-primary me-1 px-3">
									<a href="@Url.Action("Index", new { page = i })" class="text-decoration-none text-light">@i</a>
								</span>
							}

							<span class="page-number @(Model.PageNumber == lastPage ? "disabled" : "") ms-1 rounded-3 pt-1 px-3" style="background-color: #c3c3c3">
								<a href="@Url.Action("Index", new { page = nextPage })" class="text-decoration-none text-light">Trang sau <i class="ms-1 fas fa-angle-double-right"></i></a>
							</span>
						</div>
					}
				</div>
			</div>

			@if (Interested != null && Interested.Count > 0)
			{

				<div class="row mt-3" style="background-color:#ededed; height: auto">
					<div class="col p-0 px-3 mb-3">
						<div class="row mb-2">
							<h4 class="fw-bold fs-5 mt-3 mb-0">Có thể bạn quan tâm</h4>
						</div>
						@foreach (var item in Interested)
						{
							<div class="row">
								<div class="col-3 my-1 pe-0 position-relative" style="height: 170px">
									<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost">
										<span class="position-absolute fs-6 text-light" style="left: 30px; bottom: 10px">@item.appImgPosts.Count ảnh</span>
										<img src="@item.Path" width="100%" height="170px" />
									</a>
									@{
										int check = 0;
										@foreach (var itemPin in ListPin) // lọc các Pin trong Cookies
										{
											if (itemPin.IdPost == item.IdPost)
											{
												<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
													<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="fas fa-bookmark" style="color: #FFD43B;"></i></span>
												</a>
												check = 1;
												break;
											}
										}
										@if (check == 0)
										{
											<a asp-action="PinCookies" asp-controller="Pin" asp-route-id="@item.IdPost">
												<span class="position-absolute fs-4" style="right: 30px; bottom: 10px; z-index: 100"><i class="far fa-bookmark" style="color: #FFD43B;"></i></span>
											</a>
										}
									}
								</div>
								<div class="col-9 ps-3  pe-4">
									<div class=" fw-bold  ">
										<div class="d-inline p-0 ">
											<i class="fas fa-star" style="color: #FFD43B;"></i>
										</div>
										<div class="d-inline  p-0 ps-2">
											<a asp-action="Detail" asp-controller="Post" asp-route-id="@item.IdPost" style="color: @item.appCategory.TitleColor" class="text-decoration-none">
												@item.Title
											</a>
										</div>
									</div>
									<div class="row ms-1">
										<div class="col-auto  p-0 pe-3 text-success fw-bold">@string.Format("{0:#,0.#}", item.RtalPrice / 1000000)  Triệu / @item.ToTforRtalPrice</div>
										<div class="col-auto  p-0 pe-3">
											<i class="fas fa-vector-square text-primary me-1"></i> @item.Area m<sup>2</sup>
										</div>
										<div class="col-auto  p-0 fw-bold">
											<i class="fas fa-map-marked-alt text-primary me-2"></i> @item.appAddress.Wards , @item.appAddress.City
										</div>

									</div>
									<div class="row mt-1 ms-1 text-secondary">
										@item.Summary
									</div>
									<div class="row mt-2 ms-1">
										<div class="col-auto p-0">
											<img src="@item.Path" width="40px" height="40px" class="rounded-circle" />
										</div>
										<div class="col-auto p-0 ms-2 pt-2">
											<span class="text-secondary ps-1">@item.appUsers.Name</span>
										</div>
										<div class="col-auto  p-0 pe-3 text-secondary ms-auto pt-2" style="font-size: 13px">
											@{
												int totalTime = ((int)(DateTime.Now - item.CreatedDate).TotalHours);
												if (totalTime < 24)
												{
													<span>@totalTime Giờ trước</span>
												}
												if (totalTime > 24)
												{
													int ngay = totalTime / 24;
													<span>@ngay Ngày trước</span>
												}
											}
										</div>
									</div>
								</div>
							</div>
							<hr>
						}
					</div>
				</div>
			}
		</div>

		@* Thanh lọc bên trái  *@
		<div class="col-xxl-4 ms-auto">
			<div class="row ms-2 px-3 rounded-3 py-2 " style="background-color:#ededed">
				<div class="col ">
					<div class="row fw-bold fs-5 mb-0">Xem theo giá</div>

					@await Component.InvokeAsync("NavPrice")

				</div>
			</div>
			<div class="row ms-2 px-3 rounded-3 py-2 mt-4" style="background-color:#ededed">
				<div class="col ">
					<div class="row fw-bold fs-5 mb-0">Xem theo diện tích</div>
					@await Component.InvokeAsync("NavArea")

				</div>
			</div>
			<div class="row ms-2 px-3 rounded-3 py-2 mt-4" style="background-color:#ededed">
				<div class="col ">
					<div class="row fw-bold fs-5 mb-0">Danh mục cho thuê</div>
					@await Component.InvokeAsync("NavPost")
				</div>
			</div>

			@* Post new  *@
			@await Component.InvokeAsync("NewPost")


			@* Blog new  *@
			<div class="row ms-2 px-3 rounded-3 py-2 mt-4" style="background-color:#ededed">
				<div class="col ">
					<div class="row fw-bold fs-5 mb-2">Bài viết mới</div>
					<div class="row">
						<div class="col p-0 py-1 hover-red"><i class="fas fa-angle-right"></i> Quy trình đăng ký tạm trú cho người thuê phòng trọ mới nhất</div>
					</div>
					<div class="row">
						<div class="col p-0 py-1 hover-red"><i class="fas fa-angle-right"></i> Quy trình đăng ký tạm trú cho người thuê phòng trọ mới nhất</div>
					</div>
					<div class="row">
						<div class="col p-0 py-1 hover-red"><i class="fas fa-angle-right"></i> Quy trình đăng ký tạm trú cho người thuê phòng trọ mới nhất</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- end Product  -->
<script>
	//===================================API google map===============================================
	document.addEventListener("DOMContentLoaded", function () {

		fetch("https://api.mysupership.vn/v1/partner/areas/province")
			.then(response => response.json())
			.then(data => {
				var provinces = "<option value='0'> -- Chọn thành phố -- </option>";
				data.results.forEach(province => {
					provinces += `<option value='${province.code}'>${province.name}</option>`;
				});
				document.getElementById("provinces").innerHTML = provinces;
				console.log(data.results);
			})
			.catch(error => {
				console.error('Error:', error);
			});
		document.getElementById("provinces").addEventListener("change", event => {
			var tp = event.target.value;
			fetch(`https://api.mysupership.vn/v1/partner/areas/district?province=${tp}`)
				.then(res => res.json())
				.then(data => {
					var provinces = "";
					data.results.forEach(province => {
						provinces += `<option value='${province.code}'>${province.name}</option>`;
					});
					document.getElementById("districts").innerHTML = provinces;
					console.log(data.results);
				})
				.catch(error => {
					console.error('Error:', error);
				});
		});

	})
</script>
