@model List<IGrouping<string, RentalSystem.Models.AppPermissions>>

<div class="container-fluid px-3">
    <div class="row w-100 js-masonry">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 col-xl-3 js-group-permission">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@item.Key</h5>
                    </div>
                    <div class="card-body">
@*                         <div class="form-group hover:text-primary form-check form-switch">
                            <div class="custom-control custom-switch mb-3">
                                <input id="@item.FirstOrDefault()?.Table" type="checkbox"  class="custom-control-input check-all form-check-input" />
                                <label for="@item.FirstOrDefault()?.Table" class="custom-control-label form-check-label w-100 hover:pointer">Chọn tất cả</label>
                            </div>
                        </div> *@
                        @foreach (var per in item)
                        {
                            <div class="form-group hover:text-primary">
                                <div class="custom-control custom-switch  form-check form-switch  mb-3">
                                    <input id="permission-@per.IdPermission" type="checkbox" data-id="@per.IdPermission"
                                           class="custom-control-input check-permission form-check-input"  />
                                    <label for="permission-@per.IdPermission"
                                           class="custom-control-label form-check-label w-100 hover:pointer">@per.Desc <small>(@per.IdPermission)</small></label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>