@using RentalSystem.WebConfig.Constant
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<RentalSystem.Models.AppTypeOfService>
@{
	var Role = ViewBag.RolePer as List<AppRolePermission>;
	int counter = 1;
}

<div class="container-fluid p-0">
	<div class="row w-100 fs-4 px-4 pt-2" style="font-weight: 500">Danh sách các loại dịch vụ</div>
	<hr />
	@foreach (var itemViewList in Role)
	{
		if (itemViewList.IdPermission == AuthConst.AppTypeOfService.VIEW_LIST)
		{
			<div class="row w-100 ">
				<div class="col p-0 ms-4 ps-3">
					<form asp-action="Index">
						<div class="row w-100">
							@foreach (var itemCreate in Role)
							{
								if (itemCreate.IdPermission == AuthConst.AppTypeOfService.CREATE)
								{
									<button class="btn btn-success w-auto rounded-1" data-bs-toggle="modal" data-bs-target="#addTypeOfServices" onclick="openPopup(event)">
										<i class="fas fa-plus-circle"></i> Thêm loại dịch vụ
									</button>
								}
							}
							<div class="col-3 p-0 ms-3">
								<input type="text" name="keyword" placeholder="Tìm loại dịch vụ..." class="form-control" style="border-radius: 7px 0 0 7px" />
							</div>
							<button type="submit" class="col-auto p-0 border border-none px-2" style="border-radius: 0 7px 7px 0">Tìm Kiếm</button>
						</div>
					</form>
					@foreach (var itemDelete in Role)
					{
						if (itemDelete.IdPermission == AuthConst.AppTypeOfService.DELETE)
						{
							<div class="row w-100 mt-3">
								<div class="col-auto p-0">
									<div class="btn btn-light">
										<div class="custom-control custom-switch">
											<input id="chkAllowBulkDel" type="checkbox" class="custom-control-input">
											<label for="chkAllowBulkDel" class="custom-control-label form-check-label hover:pointer">Cho phép xóa nhiều</label>
										</div>
									</div>
									<button id="btnBulkDel" class="d-none btn btn-outline-danger"
											data-keyword="TypeOfServices"
											data-url="@Url.Action("DeleteList", "AdminTypeOfServices")">
										Xóa hàng loạt (<span id="delCount">0</span> danh mục)
									</button>

								</div>
							</div>
						}
					}
					<div class="row w-100 mt-3">
						<div class="table-responsive px-0">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th class="js-col-checkbox d-none position-relative" style="width: 45px;">
											<input id="chkAll" type="checkbox" class="ms-2" style="transform: scale(1.5)" />
											<label for="chkAll" class="position-absolute w-100 h-100 top-left hover:pointer"></label>
										</th>
										<th style="width: 35px;">#</th>
										<th>Tên dịch vụ</th>
										<th style="width: 200px;" class="text-center">Tùy chọn</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td class="fit js-col-checkbox d-none position-relative" style="width: 45px;">
												<input id="chk@(item.IdTypeOfService)" type="checkbox" data-id="@item.IdTypeOfService" class="ms-2" style="transform: scale(1.5)" />
												<label for="chk@(item.IdTypeOfService)" class="position-absolute w-100 h-100 top-left hover:pointer"></label>
											</td>
											<td>@counter</td>
											<td class="d-flex justify-item-center pt-3 pb-3">@item.Name <span class="ms-2 mt-1" style="font-size: 13px"><i>(@item.appPosts.Count bài viết)</i></span></td>
											<td class="justify-content-center text-center">
												@foreach (var itemUpdate in Role)
												{
													if (itemUpdate.IdPermission == AuthConst.AppTypeOfService.UPDATE)
													{
														<a asp-action="" asp-controller="" class="text-primary px-2 btn btn-outline-light  border border-sacondary" data-bs-toggle="modal" data-bs-target="#updateDM_DV" onclick="UpdateTypeOfService('@item.Name', @item.IdTypeOfService)"><i class="far fa-edit fs-5 "></i></a>
													}
												}
												@foreach (var itemDelete in Role)
												{
													if (itemDelete.IdPermission == AuthConst.AppTypeOfService.DELETE)
													{
														<a asp-action="" asp-controller="" class="text-danger px-2 btn btn-outline-light border border-sacondary" data-bs-toggle="modal" data-bs-target="#deleteDM_DV" onclick="DeleteTypeOfService('@item.Name', @item.IdTypeOfService)"><i class="fas fa-trash-alt fs-5"></i></a>
													}
												}
											</td>
										</tr>
										counter++;
									}
								</tbody>
							</table>
							@if (TempData["searched"] != null && !string.IsNullOrEmpty(TempData["searched"].ToString()))
							{
								<div class="text-center">
									<span class="text-danger"><i>Kết quả tìm kiếm [@Model.Count()] item </i></span> <a asp-action="Index" class="text-decoration-none text-center" style="display: inline-block">Đặt lại</a>
								</div>
							}
							<div class="pagination">
								@for (int i = 1; i <= Model.PageCount; i++)
								{
									<div class="page-number @(Model.PageNumber == i ? "active" : "") px-2 btn btn-primary me-1">
										<a href="@Url.Action("Index", new { page = i })" class="text-decoration-none text-light">@i</a>
									</div>
								}
							</div>
							<div style="font-size: 12px" class="mt-2"><i>Danh sách này có tổng cộng @ViewBag.ListTypeOfService.Count bản ghi</i></div>
						</div>
					</div>
				</div>
			</div>
		}
	}
</div>
@* ================================Model==================================== *@
<div class="modal fade" id="addTypeOfServices" tabindex="-1" aria-labelledby="addTypeOfServicesLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="AddTypeOfServices" asp-controller="AdminTypeOfServices" method="POST">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="addTypeOfServicesLabel">Thêm dịch vụ</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" name="services" class="form-control" placeholder="Nhập tên dịch vụ" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Thêm</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="updateDM_DV" tabindex="-1" aria-labelledby="updateDM_DV" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="EditTypeOfServices" method="post">
				<input type="hidden" id="inputIdCTDmDV" name="id" />
				<div class="modal-header">
					<h1 class="modal-title fs-5 p-2" id="updateDM_DVLabel" style="font-weight:bold">Cập nhật loại Dịch vụ:</h1>
					<button type="button" class="btn-close ml-5" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-3">
					<div class="row">
						<div class="col w-100 ">
							<input type="text" class="form-control" name="services" value="" id="inputCTDmDV" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Cập nhật</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="deleteDM_DV" tabindex="-1" aria-labelledby="deleteDM_DV" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="DeleteTypeOfServices" method="post">
				<input type="hidden" id="inputDelete" name="id" />
				<div class="modal-header">
					<h1 class="modal-title fs-5 p-2" id="updateDM_DVLabel">Bạn chắc chắn Xóa loại dịch vụ: </h1>
					<span id="tenDm" class="text-danger"></span>
					<button type="button" class="btn-close ml-5" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary">Xóa</button>
				</div>
			</form>
		</div>
	</div>
</div>
@* Xử lí js cho Update & delete TypeOfService *@
<script>
	function UpdateTypeOfService(tenDmDv, id) {
		document.getElementById('inputCTDmDV').value = tenDmDv;
		document.getElementById('inputIdCTDmDV').value = id;
	}
	function DeleteTypeOfService(tenDmDv, id) {
		document.getElementById('inputDelete').value = id;
		document.getElementById('tenDm').textContent = `[${tenDmDv}]`;
	}
</script>
<script>
	function openPopup(event) {
		// Ngăn chặn hành vi mặc định của nút
		event.preventDefault();

		// Mở popup bằng cách chọn modal và gọi phương thức show()
		var myModal = new bootstrap.Modal(document.getElementById('addTypeOfServices'));
		myModal.show();
	}
</script>